html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

.crosshair {
    position:absolute;
    top:50%;
    left:50%;
    width: 16px;
    height: 16px;
}

#big{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.3);
    display: none;

}

#form{
    display: none;
    position: absolute;
    top: 31%;
    left: 38%;
    background-color: rgba(0, 0, 0, 0.3);
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1.3%;
    padding-bottom: 1.3%;
    border-radius: 3%;
    width: 14%;
    height: 38%;
    font-family: "Trebuchet MS", "sans-serif";
    color: white;
    border: solid rgba(255, 255, 255, .8);;
    text-align: center;
}
button {
    background-color: #e7e7e7; 
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#apply{
    float: left;
    width: 30%;
}
#next {
    float: right;
    width: 30%;
    
}
#secondpage{
    display: none;
}

#tarsizecontainer{
    position:relative; 
    text-align:right; 
}
.textinputcontainer{
    position:relative; 
    text-align:left; 
}
.textinput{
    position:absolute;    
    right:0; 
    width: 20%;
}
#myRange{
    position:absolute;    
    left:0; 
}
#back {
    display: none;
}