html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

.crosshair {
    position:absolute;
    top:50%;
    left:50%;
    width: 16px;
    height: 16px;
}

